.page__header__color {
    background-color: #343434;
    color: #cecece;
}

.movie-list {
    list-style: none;
    padding-left: 0;
}

.movie-layout {
    max-width: 1232px;
    margin: 0 auto;
    padding: 32px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.movie-list__item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-has-column {
    display: flex;
    flex-direction: row-reverse;
}

.content__main {
    flex: 1;
    height: 100%;
    background-color: #141414;
    color: #cecece;
}

.content__side {
    background-color: #343434;
    color: #cecece;
}

/*ここで色指定レイアウトを指定していればここをインポートしていれば良くなる*/
