.h2 {
    font-size: 1.6rem;
}
.h2__text-overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie {
    max-width: 200px;
    text-align: center;
    padding: 8px 16px;
}

.release-year {
    font-size: 1.4rem;
}
