.search-layout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    max-width: 1232px;
    margin: 0 auto;
    padding: 16px;
}


.input {
    width: 560px;
    font-size: 1.6rem;
    line-height: 1.4;
    padding: 6px 0;
}

.btn {
    display: inline-block;
    max-width: 100%;
    width: 160px;
    padding: 6px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 1.6rem;
}

.btn-main {
    background-color: #13448f;
    color: white;
}

.btn-layout {
    margin-left: 8px;
}

.btn-main:hover,
.btn-main:focus {
    color: #13448f;
    background-color: #ffffff;
    border:1px solid currentColor;
}
